@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,600;1,700&family=PT+Serif:ital,wght@1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
:root {
    --index1: #001d7c;
    --index2: #1C82AD;
    --black: rgb(0, 0, 0);
}
.button{
    font-size: 1.5em;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
    font-weight: 600;
}
.section-p{
    padding: 88px 40px;
}
header p, body p{
    line-height: 1.2;
    text-align: justify;
}
a {
    text-decoration: none;
    color: var(--black);
}
/* ******************** header ********************** */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background: var(--index1);
    color: #ffffff;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.header .brand img {
    margin: 2px;
    padding: 2px;
    border-radius: 30px;
    display: block;
    width: 90px;
    right: 100%;
    left: 0;
    justify-content: left;
}
/*  ********************** images, trait & hero **************************/

/** Index*/
.hero  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('1.jpg');
    background-size: cover;
}
.title h1{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    font-size: 2.5em;
    /*text-shadow: 2px 4px 2px var(--index2);*/
    padding-top: 20px;
    justify-content: center;
    font-weight: bold;
    padding-bottom: 15px;
}
.title {
    box-shadow: 0 4px 15px var(--black);
    align-items: left;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 10px;
    margin-top: 15px;
    padding-bottom: 50px;
}
.title small {
    font-size: 15px;
    text-align: center;
    margin-left: 20%;
}
body h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0px;
    font-weight: bolder;
    text-decoration: none;
}

/* *********************** body  ********************** */
.body {
    font-family: 'Playfair Display', serif;
    color: var(--black);
}

/* *********************** body : detail  ********************** */

.container .chapeau img{
    align-items: center;
    border-radius: 7px;
    height: 500px;
    padding-left: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
.container .chapeau p {
    font-size: 15px;
    font-weight: bolder;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
.container .chapeau {
    margin: 20px;
}
.double{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 5px;
}
.double #img1 {
    width: 50%;
    margin-right: 5px;
}
.double #img2 {
    width: 50%;
}
.double #img1, .double #img2 {
    border-radius: 15px;
}
.container a, .ana a, .raja a {
    text-decoration: none;
}
.container .details, .chapeau {
    padding: 20px;
}
.container h3, .container .details h3 {
    padding: 10px 30px;
    font-size: 1.3em;
    font-weight: 1000;
    color: #000000;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.container .presentation p a, .container .details .box-detail p a, .container .details .box-detail {
    text-decoration: none;
    font-weight: 100;
    color: var(--black);
}
.container .details h3{
    width: 55%;
    margin-left: 22%;
}

.container .details h3:hover {
    transform: scale(1.1);
}
.container .details .box-detail p {
    font-size: 20px;
    text-align:justify;
    text-indent: 60px;
    padding-top: 10px;

}
.box-detail.chap3 #p3-3 {
    margin-bottom: 20px;
}

.container .details .box-detail {
    margin-bottom: 40px;
}
.container .details .box-detail {
    padding: 10px 40px 10px 0;
    font-size: 20px;
    margin-left: 150px;
}
.container .details .box-detail h4{
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.box-detail.chap2 #img-list,
.box-detail.chap1 .double .img1,
.box-detail.chap1 .double .img2{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    align-items: center;
}
.box-detail.chap2 #img-list {
    border-radius: 15px;
}

.box-detail.chap1,
.box-detail.chap3,
.box-detail.chap2,
.chapeau,
.box-detail.chap4 {
    margin-left: 100px;
    margin-right: 100px;
}



/* ******************* FOOTER ******************** */
.footer {
    /*background: linear-gradient(152.8deg, var(--index2) 50%, var(--index1) 50%); */
    color: #000000;
    padding: 20px 0 10px 0;
    text-align: center;
    border-radius: 15px;
}
.footer h2, .footer .ana h4, .footer .raja h4{
    font-size: 1.9em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer .ana h4, .footer .raja h4 {
    font-size: 1em;
}
.details .box-detail .double,
.footer .container, .ana .author1, .raja .author2 {
    display: flex;
    justify-content: space-between;
}
.footer .container .ana, .footer .container .raja {
    height: 30vh;
    overflow: none;
    padding: 20px;
    margin-right: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--black); 
}
.ana .author1 img, .raja .author2 img {
    border-radius: 10px;
}
.ana, .raja {
    width: 50%;
}
.ana {
    margin-left: 35px;
}
.ana .author1 img {
    width: 25%;
}
.ana .author1 img, .raja .author2 img {
    align-items: left;
}
.ana .author1 p, .raja .author2 p {
    align-items: right;
    text-align: center;
}
.raja .author2 img {
    width: 25%;
}
#Trait-2 {
    height: 2px;
    width: 71%;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #000000;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: var(--black);
    font-size: 14pt;
    transition: 0.3s;
    font-weight: 550;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-flex;
    padding: 0 20px;
    font-size: 1.5em;
    color: var(--index1);
    float: right;
    text-decoration: none;
    color: var(--black); 
    transition: 0.3s;
}
#icons a:hover {
    transform: scale(1.5);
    color: #2760ff;
    font-weight: 600;
}
